.sort-date,
.sort-place,
.sort-temp,
.sort-hum {
    width: 25px;
}

.sort-date svg,
.sort-place svg,
.sort-temp svg,
.sort-hum svg {
    fill: rgb(0, 0, 0);
}

.sort-date:hover svg,
.sort-place:hover svg,
.sort-temp:hover svg,
.sort-hum:hover svg {
    fill: rgb(122, 0, 119);
    cursor: pointer;
    transition: 0.5s;
}

.pagination {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.pagination-elem {
    width: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.pagination-elem:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.pagination-active {
    width: 28px;
    padding: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid;
    color: rgb(0, 0, 0);
    cursor: default;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity.2s;
    border-radius: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(171, 0, 165);
    cursor: pointer;
    border-radius: 10px;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgb(171, 0, 165);
    cursor: pointer;
    border-radius: 10px;
}