.sort-date,
.sort-place,
.sort-temp {
    width: 25px;
}

.sort-date svg,
.sort-place svg,
.sort-temp svg {
    fill: rgb(0, 0, 0);
}

.sort-date:hover svg,
.sort-place:hover svg,
.sort-temp:hover svg {
    fill: rgb(122, 0, 119);
    cursor: pointer;
    transition: 0.5s;
}

.pagination {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}

.pagination-elem {
    width: 30px;
    padding: 5px;
    text-align: center;
    background-color: #4c4c4c;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.pagination-active {
    width: 28px;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    color: rgb(0, 0, 0);
    cursor: default;
}