<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WeatherJs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/modal.css">
  <link rel="stylesheet" href="/styles/controls.css">
  <link rel="stylesheet" href="/styles/loader.css">
  <script type="module" src="/scripts/index.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
  <header>
    <h1>WeatherJs</h1>
    <div class="header-control">
      <a class="transition" href="#Add">Добавить</a>
      <div class="transition download-link"></div>
    </div>
  </header>

  <main>
    <div class="grid">
      <div class="grid-header grid-rows">
        <div class="grid-header-controls grid-date-sort">
          <div class="sort-date"></div>
          <div class="grid-place-sort grid-header-filter">Дата
            <div class="grid-filter">
              <div class="grid-data-search">
                <div class="grid-filter-row">Дата Старт <input type="date" id="DateStart"></div>
                <div class="grid-filter-row">Дата Финиш <input type="date" id="DateFinish"></div>
              </div>
              <div id="DateSearch" class="grid-filter-elem" style="text-align: center;">Применить</div>
            </div>
          </div>
        </div>
        <div>
          <div class="grid-header-controls grid-place-sort">
            <div class="sort-place"></div>
            <div class="grid-place-sort grid-header-filter">Город
              <div class="grid-filter">
                <div class="grid-filter-row"><input type="text" id="PlaceSearchStr"></div>
                <div id="PlaceSearch" class="grid-filter-elem" style="text-align: center;">Применить</div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="grid-header-controls grid-temp-sort">
            <div class="sort-temp"></div>
            <div class="grid-temp-sort grid-header-filter">Градусы
              <div class="grid-filter">
                <div>
                  <div class="grid-filter-row">
                    <div>Max:</div>
                    <div id="tempMaxResult"></div>
                  </div>
                  <div class="grid-filter-row">
                    <div>Min:</div>
                    <div id="tempMinResult"></div>
                  </div>
                </div>
                <div class="tempInputMax"></div>
                <div class="tempInputMin"></div>
                <div id="TempFilter" class="grid-filter-elem" style="text-align: center;">Применить</div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-header-filter">Облачно
          <div class="grid-filter">
            <div id="Clody" class="grid-filter-elem">Облачно</div>
            <div id="NotClody" class="grid-filter-elem">Не облачно</div>
          </div>
        </div>
        <div class="grid-header-filter">Солнце
          <div class="grid-filter">
            <div id="Sunny" class="grid-filter-elem">Солнечно</div>
            <div id="NotSunny" class="grid-filter-elem">Пасмурдно</div>
          </div>
        </div>
        <div>
          <div class="grid-header-controls grid-hum-sort">
            <div class="sort-hum"></div>
            <div class="grid-hum-sort grid-header-filter">Влажность
              <div class="grid-filter">
                <div>
                  <div class="grid-filter-row">
                    <div>Max:</div>
                    <div id="humMaxResult"></div>
                  </div>
                  <div class="grid-filter-row">
                    <div>Min:</div>
                    <div id="humMinResult"></div>
                  </div>
                </div>
                <div class="humInputMax"></div>
                <div class="humInputMin"></div>
                <div id="HumFilter" class="grid-filter-elem" style="text-align: center;">Применить</div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-header-controls grid-wind-sort">
          <div class="sort-wind"></div>
          <div class="grid-wind-sort grid-header-filter">Ветер
            <div class="grid-filter">
              <div>
                <div class="grid-filter-row">
                  <div>Max:</div>
                  <div id="windMaxResult"></div>
                </div>
                <div class="grid-filter-row">
                  <div>Min:</div>
                  <div id="windMinResult"></div>
                </div>
              </div>
              <div class="windInputMax"></div>
              <div class="windInputMin"></div>
              <div id="WindFilter" class="grid-filter-elem" style="text-align: center;">Применить</div>
            </div>
          </div>
        </div>
        <div class="grid-one-select" id="SortCyclone">Циклон</div>
        <div class="grid-one-select" id="SortAntyCyclone">Антициклон</div>
        <div class="grid-header-filter">Автор
          <div class="grid-filter">
            <div class="grid-filter-row"><input type="text" id="AuthorSearchStr"></div>
            <div id="AuthorSearch" class="grid-filter-elem" style="text-align: center;">Применить</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination"></div>
  </main>


  <div id="Add" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Добавить</h3>
          <a href="#close" title="Close" class="close">×</a>
        </div>
        <div class="modal-body">
          <div class="modal-form">
            <div>
              <p>Местоположение</p>
              <input class="modal-input" id="place">
            </div>
            <div>
              <p>Температура</p>
              <input class="modal-input" id="temperature">
            </div>
            <div>
              <p>Облачно</p>
              <input type="checkbox" class="modal-checkbox" id="cloud">
            </div>
            <div>
              <p>Солнечно</p>
              <input type="checkbox" class="modal-checkbox" id="sunshine">
            </div>
            <div>
              <p>Влажность</p>
              <input class="modal-input" id="humidity">
            </div>
            <div>
              <p>Скорость ветра</p>
              <input class="modal-input" id="wind">
            </div>
            <div>
              <p>Циклон</p>
              <input type="checkbox" class="modal-checkbox" id="cyclone">
            </div>
            <div>
              <p>Антициклон</p>
              <input type="checkbox" class="modal-checkbox" id="anticyclone">
            </div>
            <div>
              <p>Ваше имя</p>
              <input class="modal-input" id="author">
            </div>
          </div>
          <a href="#close" class="modal-btn transition" onclick="AddNew()">Сохранить</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>