<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WeatherJs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/modal.css">
  <link rel="stylesheet" href="/styles/controls.css">
  <link rel="stylesheet" href="/styles/loader.css">
  <script type="module" src="/scripts/index.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
  <header>
    <h1>WeatherJs</h1>
    <a class="transition" href="#Add">Добавить</a>
  </header>

  <main>
    <div class="grid">
      <div class="grid-header grid-rows">
        <div class="grid-header-controls grid-date-sort">
          <div class="sort-date"></div>
          <p class="grid-date-sort">Date</p>
        </div>
        <div>
          <div class="grid-header-controls grid-place-sort">
            <div class="sort-place"></div>
            <p class="grid-place-sort">Place</p>
          </div>
        </div>
        <div>
          <div class="grid-header-controls grid-temp-sort">
            <div class="sort-temp"></div>
            <p class="grid-temp-sort">Temperature</p>
          </div>
        </div>
        <div class="grid-header-filter">Cloud
          <div class="grid-filter">
            <div id="Clody">Сloudy</div>
            <div id="NotClody">Not cloudy</div>
          </div>
        </div>
        <div class="grid-header-filter">Sunny
          <div class="grid-filter">
            <div id="Sunny">Sunny</div>
            <div id="NotSunny">Not sunny</div>
          </div>
        </div>
        <div>Влажность</div>
        <div>Скорость ветра</div>
        <div>Циклон</div>
        <div>Антициклон</div>
        <div>Автор</div>
      </div>
    </div>
    <div class="pagination"></div>
  </main>


  <div id="Add" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Добавить</h3>
          <a href="#close" title="Close" class="close">×</a>
        </div>
        <div class="modal-body">
          <div class="modal-form">
            <div>
              <p>Местоположение</p>
              <input class="modal-input" id="place">
            </div>
            <div>
              <p>Температура</p>
              <input class="modal-input" id="temperature">
            </div>
            <div>
              <p>Облачно</p>
              <input type="checkbox" class="modal-checkbox" id="cloud">
            </div>
            <div>
              <p>Солнечно</p>
              <input type="checkbox" class="modal-checkbox" id="sunshine">
            </div>
            <div>
              <p>Влажность</p>
              <input class="modal-input" id="humidity">
            </div>
            <div>
              <p>Скорость ветра</p>
              <input class="modal-input" id="wind">
            </div>
            <div>
              <p>Циклон</p>
              <input type="checkbox" class="modal-checkbox" id="cyclone">
            </div>
            <div>
              <p>Антициклон</p>
              <input type="checkbox" class="modal-checkbox" id="anticyclone">
            </div>
            <div>
              <p>Ваше имя</p>
              <input class="modal-input" id="author">
            </div>
          </div>
          <a href="#close" class="modal-btn transition" onclick="AddNew()">Сохранить</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>